<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969244837835-r15e2a3n32h5mt6f5v2jtqdlgniu8qjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969244837835-r15e2a3n32h5mt6f5v2jtqdlgniu8qjk</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ntDOTLh6kXAC3TtF1d8ZY2iOAQ0RZbk</string>
	<key>GCM_SENDER_ID</key>
	<string>969244837835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makeja</string>
	<key>PROJECT_ID</key>
	<string>keja-aa0a8</string>
	<key>STORAGE_BUCKET</key>
	<string>keja-aa0a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969244837835:ios:42086e26153bed3c85184e</string>
</dict>
</plist>